<nav class="navbar navbar-expand-lg navbar-dark bg-black p-3">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCenteredExample"
      aria-controls="navbarCenteredExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarCenteredExample"
    >
      <!-- Left links -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Share', '#', class: 'nav-link mx-2 active', 'aria-current': 'page' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Invite', '#', class: 'nav-link mx-2' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Lottery', '#', class: 'nav-link mx-2' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Shop', '#', class: 'nav-link mx-2' %>
        </li>
        <% if current_user %>
          <li class="nav-item">
            <%= link_to 'Me', '#', class: 'nav-link mx-2' %>
          </li>
        <% end %>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
